/**
Biến Toàn Cục:
Font Chính: Nunito với dự phòng là sans-serif.
Màu Chủ Đạo: #00AA55 (màu xanh lá).
Màu Phụ: #F4F6F6 (màu trắng sáng).
Màu Nền:
--background-1: #232323 (màu xám đen).
--background-2: #313131 (màu xám đậm).
--background-3: rgba(217, 217, 217, 0.5) (màu xám nhạt trong suốt).
--background-4: #F7F7F7 (màu trắng xám).
2. Thiết Lập Chung:
Toàn Bộ Phần Tử:

Không có padding và margin.
Sử dụng box-sizing: border-box.
HTML và Body:

Chiều cao và chiều rộng 100%.
Body:

Cỡ chữ mặc định là 14px, sử dụng font Nunito.
3. Keyframes Animation:
fadeInDown: Cho phép phần tử xuất hiện từ trên xuống dưới với độ mờ dần.
fadeIn: Chuyển đổi độ mờ từ 0 đến 1.
Cấu Trúc và Phong Cách Slider:
#slider-revolution: Thiết lập toàn màn hình với chiều cao 100vh, sử dụng
 owl-carousel để tạo slider.

.owl-stage-outer & .owl-stage: Đảm bảo mỗi slide chiếm toàn bộ chiều cao.
.owl-item.active: Khi một slide được kích hoạt, áp dụng các hiệu ứng chuyển 
đổi cho các phần tử bên trong như đoạn văn, tiêu đề, thông tin nhiệt độ, và nút.
Background: Các slide có hình nền cố định, không lặp lại, căn giữa và phù hợp 
với kích thước viewport.
Nội dung Slide:

.slider-paragragh & .slider-title: Văn bản chuyển từ trên xuống và dần dần 
hiện ra.
.slider-temperature: Hiển thị thông tin nhiệt độ với hiệu ứng tương tự.
.slider-button-container: Nút Learn More có góc bo, bán trong suốt với hiệu ứng 
hover thay đổi màu nền và chữ.
.owl-nav:

Định vị tuyệt đối trong slider, với các nút điều hướng (.owl-prev và .owl-next)
 có kích thước lớn và khoảng cách phù hợp giữa các nút.
5. Thiết Kế Menu Chính:
#main-menu:

Định vị tuyệt đối với độ rộng 100%.
.container: Màu nền trắng trên desktop và xám đậm trên mobile.
.menu-container-mobile: Ẩn trên desktop, hiện trên mobile.
Menu Intro:

.menu-intro: Nền xám nhạt với màu chữ xám đậm.
.social-list: Danh sách mạng xã hội hiển thị theo hàng ngang.
.open-hour-text: Hiển thị thông tin giờ mở cửa.
.search-container: Khu vực tìm kiếm với nút tìm kiếm và ô nhập liệu, có hiệu
 ứng chuyển đổi khi nhấn vào.
6. Responsive Design:
Truy vấn phương tiện: Đảm bảo giao diện phản hồi với các kích thước màn hình 
khác nhau, đặc biệt là dưới 1024px và 500px, bao gồm điều chỉnh kích thước chữ, 
bố cục và vị trí các phần tử.
Tổng Kết
CSS này thiết lập một giao diện người dùng phức tạp và phản hồi, với sự chú 
trọng vào animation và trải nghiệm người dùng. Sự kết hợp của các biến toàn cục,
 kiểu dáng và hiệu ứng chuyển đổi tạo nên một giao diện hiện đại và hấp dẫn, 
 đảm bảo tính tương thích trên nhiều thiết bị và kích thước màn hình khác nhau.
*/
:root {
    --primary-font-family: "Nunito", sans-serif;
    --primary-color: #00AA55;
    --secondary-color: #010101;
    --backgroung-1: #232323;
    --background-2: #313131;
    --background-3: rgba(217, 217, 217, 0.5);
    --background-4: #F7F7F7;
    --background-5: #e5e5e5e5;

    --color-1: rgb(97, 97, 97, .8);
    --color-2: #F6F6F6;
    --min-height-menu-link: 50px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-size: 14px;
    font-family: var(--primary-font-family);
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/**
==Tổng quan cấu trúc
--Container Slider (#slider-revolution)
Sử dụng .owl-carousel cho chức năng carousel.
Thiết lập chiều cao toàn màn hình với height: 100vh.
Chứa các phần tử như các slide, mũi tên điều hướng, và các nội dung khác.
Các thành phần chính và phong cách
Chiều cao Carousel và thiết lập sân khấu

height: 100% được thiết lập cho .owl-stage-outer và .owl-stage để đảm bảo mỗi
 slide chiếm toàn bộ chiều cao của viewport.
Hiệu ứng Animation cho Slide kích hoạt (.owl-item.active)

Các hiệu ứng animation được áp dụng khi một slide trở nên kích hoạt:
Đoạn văn (.slider-paragragh): Chuyển từ translateY(-100px) sang translateY(0) 
và opacity: 1 với độ trễ 0.5s.
Tiêu đề (.slider-title): Hiệu ứng tương tự nhưng với độ trễ ngắn hơn (0.6s).
Thông tin nhiệt độ (.slider-temperature): Chuyển với độ trễ 1.5s.
Container nút (.slider-button-container): Chuyển với độ trễ 1s.
Phong cách nền cho từng Slide (.owl-item)

Nội dung được căn giữa bằng cách sử dụng display: flex; justify-content: center;
 align-items: center;.
Các thuộc tính nền như background-origin, background-repeat, background-attachment,
 background-position, và background-size được thiết lập để đảm bảo hiển thị hình 
 ảnh đúng cách.
Phong cách nội dung bên trong Slide (.slider-background)

--Thông tin văn bản (.slider-info)
Đoạn văn (.slider-paragragh): Phong cách bao gồm chiều cao dòng, kích thước chữ,
 và chuyển đổi cho animation. Các truy vấn phương tiện điều chỉnh kích thước chữ cho màn hình nhỏ hơn.
Tiêu đề (.slider-title): Văn bản lớn, đậm với kích thước chữ đáp ứng và 
chuyển đổi.
Thông tin nhiệt độ (.slider-temperature)
Được bố trí thành cột, với các chuyển đổi để xuất hiện mượt mà.
Nút (.slider-button-container và .slider-button)
Nút có góc bo, bán trong suốt với hiệu ứng hover để thay đổi nền và màu chữ.
Mũi tên điều hướng (.owl-nav)

Được định vị tuyệt đối trong slider.
Phong cách cho các nút mũi tên bao gồm kích thước, padding, và điều chỉnh vị 
trí theo đáp ứng.
Mũi tên (.owl-prev và .owl-next) có các phần tử span được căn chỉnh.
Truy vấn phương tiện
Cho màn hình với max-width 1024px và 500px:
Điều chỉnh bao gồm thay đổi kích thước chữ, định vị lại các phần tử, và đảm bảo 
bố cục nhất quán trên các thiết bị nhỏ hơn.
Kết luận
CSS này thiết lập một slider toàn màn hình với các chuyển đổi animation, các 
điều chỉnh thiết kế đáp ứng và điều hướng tùy chỉnh. Việc sử dụng các truy vấn
 phương tiện đảm bảo rằng bố cục thích ứng với các kích thước màn hình khác 
 nhau, và các animation mang lại trải nghiệm người dùng năng động và hấp dẫn.
*/

/* slider revolution full man hinh và kéo qua được */
#slider-revolution {

    .owl-carousel {
        height: 100vh;

        .owl-stage-outer {
            height: 100%;

            .owl-stage {
                height: 100%;

                /* thiết lập hiệu ứng animation cho mỗi 
                slider kích hoạt lượt kéo */
                .owl-item.active {
                    .slider-background {
                        .slider-info {
                            .slider-paragragh {
                                transform: translateY(0);
                                opacity: 1;
                                transition: all 0.8s;
                                transition-delay: 0.5s;
                            }

                            .slider-title {
                                transform: translateY(0);
                                opacity: 1;
                                transition: all 0.6s;
                            }
                        }

                        .slider-temperature {
                            transform: translateY(0);
                            opacity: 1;
                            transition: all 0.8s;
                            transition-delay: 1.5s;
                        }

                        .slider-button-container {
                            transform: translateY(0);
                            opacity: 1;
                            transition: all 0.8s;
                            transition-delay: 1s;
                        }
                    }
                }

                /* Thiết lập phong cách background cho mỗi hình ảnh item */
                .owl-item {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    background-origin: border-box;
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-position: center;

                    /* Thiết lập slider background cơ bản */
                    .slider-background {
                        height: 100%;
                        width: 100vw;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        background-origin: border-box;
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        background-position: center;
                        background-size: cover;
                        color: white;

                        @media screen and (max-width: 1024px) {
                            margin: 0;
                            max-width: 100%;
                            padding: 20px;
                        }

                        .slider-container {
                            @media screen and (max-width: 500px) {
                                width: 80%;
                            }
                        }
                    }

                    /* Thiết lập kiểu dáng cho 
                    chữ và animation bên trong slider background */
                    .slider-background {

                        /* Cài đặt kiểu dáng của đoạn văn và tiêu đề */
                        .slider-info {

                            /* Cài đặt kiểu dáng cho đoạn văn */
                            .slider-paragragh {
                                line-height: 29px;
                                text-transform: capitalize;
                                font-size: 1.3rem;

                                @media screen and (max-width: 1024px) {
                                    font-size: 1.1rem;
                                }

                                font-weight: 400;
                                transform: translateY(-100px);
                                opacity: 0;
                                transition: transform 0.3s,
                                opacity 0.4s;
                            }

                            /* Cài đặt kiểu dáng cho tiêu đề */
                            .slider-title {
                                text-transform: capitalize;
                                font-size: 5rem;
                                font-weight: 700;
                                transform: translateY(-100px);
                                opacity: 0;
                                transition: transform 0.3s, opacity 0.4s;

                                @media screen and (max-width: 1024px) {
                                    font-size: 3rem;
                                    text-wrap: wrap;
                                }
                            }
                        }

                        /* Cài đặt kiểu dáng cho Thông tin nhiệt độ */
                        .slider-temperature {
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            transform: translateY(-100px);
                            opacity: 0;
                            transition: transform 0.3s, opacity 0.4s;

                            .slider-text {
                                text-transform: capitalize;
                                font-size: 1.2rem;

                                @media screen and (max-width: 1024px) {
                                    font-size: 1rem;
                                }

                                font-weight: 400;
                            }
                        }

                        /* cài đặt kiểu dáng cho nút learn more */
                        .slider-button-container {
                            opacity: 0;
                            transform: translateY(-100px);
                            transition: transform 0.3s, opacity 0.4s;

                            .slider-button {
                                height: 61px;
                                width: 153px;
                                border-radius: 30px;
                                background-color: var(--background-3);
                                color: white;
                                text-transform: uppercase;
                                text-decoration: none;
                                font-size: 1rem;
                                font-weight: 700;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                cursor: pointer;

                                transition: background-color 0.3s, color 0.3s;
                            }

                            .slider-button:hover {
                                background-color: white;
                                color: black;
                                transition: background-color 0.3s, color 0.3s;
                            }
                        }

                    }
                }
            }
        }

        /* thiết kế mũi tên kéo qua màn hình */
        .owl-nav {
            position: absolute;
            font-size: 2rem;
            color: white;
            padding: 4px 8px;
            margin: 0 8px;
            display: flex;
            /* khoang trong giua 2 mui ten */
            gap: 10px;

            .owl-prev,
            .owl-next {
                border: 0;
                outline: 0;

                span {
                    width: 64px;
                    height: 64px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            /* vị trí khác đi khi màn hình lớn hơn 1024px */
            top: 81%;
            left: calc(15% - 10px);

            /* vị trí khác đi khi màn hình nhỏ hơn 1024px */
            @media screen and (max-width: 1024px) {
                left: 21px;
            }

            /* vị trí khác đi khi màn hình nhỏ hơn 500px */
            @media screen and (max-width: 500px) {
                top: 91%;
                left: 21px;
            }
        }
    }
}

/* MAIN MENU DESKTOP*/
section#main-menu {
    /* Thiết lập sự thay đổi ở màn hình desktop và mobile */
    position: absolute;
    z-index: 2;
    width: 100%;

    /* Cài đặt màu nền, kích thước màn hình desktop và mobile */
    .container {
        background: white;

        @media screen and (max-width: 1024px) {
            background-color: var(--background-2);
            color: white;
            margin: 0;
            max-width: 100%;
        }
    }

    /* Ẩn menu mobile khi ở màn hình desktop */
    .menu-container-mobile {
        display: none;
    }

    /* Ẩn menu desktop khi ở màn hình mobile */
    @media screen and (max-width: 1024px) {
        .menu-container-mobile {
            display: block;

        }

        .menu-container-desktop,
        .menu-intro {
            display: none;
        }
    }

    /* Tạo kiểu cho menu intro */
    .menu-intro {
        color: var(--color-1);
        background: var(--background-4);

        .social-list {
            display: flex;
            gap: 20px;
            list-style: none;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 0;
        }

        /* Cài đặt kiểu dáng thông tin giờ mở cửa */
        .open-hour-text {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            p {
                margin: 0;
                line-height: 1.5rem;
                font-size: 1rem;
                font-weight: 400;
            }
        }


    }


}

/* Cài đặt kiểu dáng khu vực tìm kiếm */
.search-container {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    padding: 0;
    position: relative;
    color: black;

    /* cài đặt kiểu dáng nút tìm kiếm */
    .search-icon {
        height: 64px;
        width: 64px;
        border: none;
        outline: 0;
        font-size: 2rem;
        font-weight: 700;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Nút tìm kiếm khi nhấn vào */
    .search-icon.active {
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }


    /* tạo kiểu dáng cho ô tìm kiếm */
    .search-area {
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        form {
            height: 91px;
            width: 309px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            input {
                height: 50px;
                width: 270px;
                background-color: var(--color-2);
                border: 0;
                outline: 0;
                border-radius: 0;
            }
        }

        /* cài đặt kiểu dáng nút tìm kiếm và nút tắt ô tìm kiếm  */
        .btn-search,
        .btn-x {
            height: 64px;
            width: 64px;
            border: none;
            outline: 0;
            font-size: 2rem;
            font-weight: 700;
            cursor: pointer;
            position: absolute;
        }

        /* Nút tắt ô tìm kiếm khi kích hoạt */
        .btn-x.active {
            opacity: 1;
            transition: all 0.3s ease-in-out;
            display: block;
        }

        /* Cài đặt kiểu dáng nút tắt ô tìm kiếm */
        .btn-x {
            right: -15px;
            top: -60px;
            display: none;
        }

        /* cài đặt kiểu dáng nút tìm kiếm */
        .btn-search {
            right: 0;
            margin-right: 10px;
        }
    }

    .search-area {
        position: absolute;
        transform: translate(-14px, 71px);
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    .search-area.show {
        opacity: 1;
        transition: all 0.3s ease-in-out;
        z-index: 1;
    }
}

/* Tạo kiểu cho menu container desktop */
/* MENU DESKTOP CONTAINER */
/**
CSS Styling
CSS thiết lập các kiểu dáng cho menu, bao gồm cả phần tử cha và phần tử con:

Màu sắc và bố cục: Các màu sắc và bố cục như background-color, color, và 
font-size được định nghĩa thông qua các biến CSS như var(--background-1),
 var(--background-4), var(--primary-color), và var(--secondary-color).

Menu container: section.menu-container-desktop định nghĩa bố cục cho toàn bộ 
khu vực menu, bao gồm logo và các mục menu.

Danh sách menu và các item:

.menu-list-container chứa các item trong menu, được căn giữa.
.menu-list là một danh sách không thứ tự (ul) chứa các mục menu (li.menu-item).
.menu-link là các liên kết trong các mục menu, có hiệu ứng chuyển đổi màu sắc 
khi hover và khi được click.
.menu-item.no-children .menu-link::after: ẩn mũi tên chỉ xuống nếu item không 
có submenu.
Hiệu ứng hover:

Khi hover vào li.menu-item, các liên kết (.menu-link) thay đổi màu sắc.
Khi hover vào một mục có submenu, submenu (.sub-menu) được hiển thị với hiệu ứng chuyển động từ từ.
Active State: Màu sắc của các mục menu thay đổi khi mục đó ở trạng thái "active".
*/
section.menu-container-desktop {
    .logo-link-image-container {
        padding: 0;
        background-color: var(--background-1);
        display: flex;
        justify-content: center;
        align-items: center;

        .logo-link-image {
            display: block;
        }
    }

    .menu-list-container {
        display: flex;
        align-items: center;
        justify-content: center;

        /* cấu hình kiểu dáng cho danh sách menu */
        ul.menu-list {
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            font-size: 1.2rem;
            font-weight: 700;
            border-right-width: 1px;
            border-right-style: solid;
            border-right-color: var(--background-5);

            /* cài đặt tắt mũi tên cho danh sách không có submenu */
            .menu-item.no-children .menu-link::after {
                display: none;
            }

            /* Cài đặt mặc định cho menu */
            li.menu-item {
                position: relative;
                cursor: pointer;
                height: 100%;
                display: flex;
                align-items: center;

                /* Chiều cao của item cao quá so với màn hình của laptop nên chỉnh lại cho phù hợp */
                @media screen and (min-width: 1440px) {
                    min-height: var(--min-height-menu-link);
                }

                /* Màu mặc định cho các liên kết */
                a.menu-link {
                    position: relative;
                    display: flex;
                    text-decoration: none;
                    color: var(--secondary-color);
                    transition: all 0.3s ease-in-out;
                    width: 100%;
                }

                a.menu-link::after {
                    display: flex;
                    bottom: calc(50% - 14px);
                    padding-left: 10px;
                    content: '\F22C';
                    font-family: 'bootstrap-icons';
                }
            }

            /* Cài đặt mặc định cho thành phần submenu */
            /* Đảm bảo không tô màu các menu con khi không hover */
            ul.sub-menu {
                display: none;

                /* Kiểu dáng menu cấp 1 */
                li.menu-item {
                    position: relative;
                    width: 100%;
                    height: 100%;

                    /* Màu mặc định cho các liên kết trong menu con */
                    a.menu-link {
                        color: var(--secondary-color);
                        justify-content: space-between;
                        padding: 10px 20px;
                        align-items: center;

                        /* Chiều cao của item cao quá so với màn hình của laptop nên chỉnh lại cho phù hợp */
                        @media screen and (min-width: 1440px) {
                            min-height: var(--min-height-menu-link);
                        }

                    }

                    /* 
                    -- Kiểu dáng mặc định cho mặt nạ 
                    -- Mặt nạ chưa rơi từ trên xuống 
                    */
                    .overlay {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        transform: translateY(-100%);
                        opacity: 0;
                        background-color: #00aa55;
                        transition: all 0.2s ease-in-out;
                        pointer-events: none;

                        /* Ngăn không cho overlay chặn sự kiện chuột */
                    }
                }
            }


            /* Kiểu dáng khi hover vào submenu */
            li.menu-item ul.sub-menu {

                /* Màu khi hover vào sub-menu */
                li.menu-item:hover>a.menu-link {
                    color: white;
                }

                /* mặt nạ rớt xuống chậm khi rê vào sub menu active*/
                li.menu-item:hover>.overlay {
                    opacity: 1;
                    transform: translateY(0%);
                    transition: all 0.2s ease-in-out;
                }

                /* Xoay icon khi hover vào sub-menu */
                li.menu-item:hover>a.menu-link::after {
                    transform: rotate(-90deg);
                    transition: transform 0.2s ease-in-out;
                }
            }

            /* ------------------------------------------------- */
            /* EVENTS SUB-MENU */
            /* Chỉ áp dụng màu mặc định khi hover vào menu-item */
            /*  */
            /* ------------------------------------------------- */
            /* Mặc định màu chữ của menu-item cha và sub-menu */
            .menu-item>a.menu-link {
                color: var(--secondary-color);
            }

            /* Màu của menu-item cha khi active */
            .menu-item.active>a.menu-link {
                color: #00aa55;
                /* Xanh lá cây */
                background-color: #fff;
                /* Nền trắng */
            }

            /* Màu của sub-menu-item khi active */
            .menu-item .sub-menu .menu-item.active>a.menu-link {
                color: #fff;
                /* Màu chữ trắng */
                background-color: #00aa55;
                /* Nền xanh lá cây */
            }

            /* Màu nền và chữ khi hover vào sub-menu-item */
            .menu-item .sub-menu .menu-item:hover>a.menu-link {
                color: #fff;
                /* Màu chữ trắng */
                background-color: #00aa55;
                /* Nền xanh lá cây */
            }

            /* Màu nền và chữ mặc định của sub-menu-item */
            .menu-item .sub-menu .menu-item>a.menu-link {
                color: var(--secondary-color);
                background-color: transparent;
            }


            /* Chỉ khi nào hover vào menu thì mới thực thi */
            li.menu-item:hover {

                /* danh muc cap 1 */
                ul.sub-menu.show {
                    list-style-type: none;
                    position: absolute;
                    background-color: var(--background-4);
                    color: #010101;
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    top: 100%;
                    left: 0%;
                    width: 300px;
                    font-size: 1rem;
                    font-weight: 500;
                    transform: translateY(0);
                    translate: all 0.3s ease-in-out;
                }

                /* danh muc cap 2 */
                ul.sub-menu.show .sub-menu.show {
                    position: absolute;
                    background-color: var(--background-4);
                    color: #010101;
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    top: 0%;
                    left: 100%;
                    z-index: 3;
                    transition: background-color 0.5s linear;
                    overflow: hidden;
                }
            }
        }
    }
}

/*  */
/* MOBILE MENU SECTION */
/*  */
section.menu-container-mobile {
    max-height: 64px;



    .menu-bar-mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .btn-x,
    .search-icon {
        color: white;
    }

    /* Kiểu dáng cho nút mở menu bar  */
    .menu-bar-icon {
        font-size: 2.5rem;
        transform: translateY(0);
        transition: transform 0.3s ease-in-out;
    }

    .menu-bar-icon:hover {
        cursor: pointer;
        transform: translateY(2px);
        transition: transform 0.3s ease-in-out;
    }

    .menu-bar-logo {
        display: flex;
        height: 64px;
    }

    .menu-overlay {
        position: absolute;
        background-color: rgba(14, 13, 13, 0.8);
        height: 100vh;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: -1;
    }

    .menu-overlay.active {
        transform: translateX(0%);
        transition: transform 0.3s ease-in-out;
    }

    .menu-container-slider {
        height: 100vh;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        background-color: black;
        width: 80%;
    }

    .menu-container-slider.active {
        transform: translateX(0%);
        transition: transform 0.3s ease-in-out;
        transition-delay: 0.5s;
        z-index: 1;
    }
}